<ng-container *ngIf="tasksList.length; else noTasks">
    <p class="badge badge-info" [ngStyle]="{color: getColor()}">Task count: {{tasksList.length}}</p>
    <ul>
        <li appDate [date]="t.created" *ngFor="let t of tasksList | sortName; let odd = odd" [ngClass]="{'odd-li': odd, 'last-li': tasksList.length === 1}">
            {{t.name | transformTask: '!'}}
            <button type="button" class="btn btn-success" (click)="done(t)">Done</button>
            <button type="button" class="btn btn-danger" (click)="remove(t)">Remove</button>
        </li>
    </ul>
</ng-container>
<ng-template #noTasks>
    <p class="badge badge-info">No Tasks</p>
</ng-template>